version: '3.8'

volumes:
  pg_data:
  static:
  media:

services:
  db:
    image: postgres:13.10
    env_file: .env
    environment:
      - POSTGRES_DB=foodgram
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    image: lesstalkrus/foodgram_backend
    env_file: .env
    depends_on:
      - db
    volumes:
      - static:/backend_static
      - media:/app/media

  frontend:
    image: lesstalkrus/foodgram_frontend
    command: cp -r /app/build/. /frontend_static/
    volumes:
      - static:/frontend_static

  gateway:
    image: lesstalkrus/foodgram_gateway
    depends_on:
      - backend
      - frontend
    ports:
      - 9001:80
    volumes:
      - static:/static
      - media:/media
      - ./docs:/usr/share/nginx/html/docs
